<section class="public-recipes-section">
  <h1>PUBLIC RECIPES</h1>
  <p style="color: green"><%= notice %></p>
  <div id="recipes">
    <% @recipes.each do |recipe| %>


    
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    <% end %>
  </div>

  <%= link_to "New recipe", new_recipe_path %>
</section>