<p style="color: green"><%= notice %></p>
<section class="recipes-section">
  <h1>Foods</h1>

  <div>
    <%= link_to 'Add Food', new_food_path, :class => "new-recipe-button"%>
  </div>
  <table class="foods-table" >
      <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Actions</th>
      </tr>
    <tbody>
      <%= render @foods %>
    </tbody>
  </table>
</section>