<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div>
  <%= link_to 'Add Food', new_food_path%>
</div>
<table class="foods-table" >
  <thead>
    <tr >
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @foods %>
  </tbody>
</table>
